TestMI3/Connected Services/svBodega/ServiceBodega.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
  <xs:element name="Get_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_AllResult" nillable="true" type="q1:ArrayOfclsBeBodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdClienteBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdClienteBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_Single_By_IdClienteBodegaResult" nillable="true" type="q2:clsBeBodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_IdBodegaWMS_By_Codigo_Bodega_ERP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodBodegaERP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_IdBodegaWMS_By_Codigo_Bodega_ERPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_IdBodegaWMS_By_Codigo_Bodega_ERPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>