TestMI3/Connected Services/svBodega/ServiceBodega.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBodega" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBodega_Get_All_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All" />
  </wsdl:message>
  <wsdl:message name="IServiceBodega_Get_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_AllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBodega_Get_Single_By_IdClienteBodega_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdClienteBodega" />
  </wsdl:message>
  <wsdl:message name="IServiceBodega_Get_Single_By_IdClienteBodega_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdClienteBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBodega_Get_IdBodegaWMS_By_Codigo_Bodega_ERP_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_IdBodegaWMS_By_Codigo_Bodega_ERP" />
  </wsdl:message>
  <wsdl:message name="IServiceBodega_Get_IdBodegaWMS_By_Codigo_Bodega_ERP_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_IdBodegaWMS_By_Codigo_Bodega_ERPResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBodega">
    <wsdl:operation name="Get_All">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBodega/Get_All" message="tns:IServiceBodega_Get_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBodega/Get_AllResponse" message="tns:IServiceBodega_Get_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdClienteBodega">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBodega/Get_Single_By_IdClienteBodega" message="tns:IServiceBodega_Get_Single_By_IdClienteBodega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBodega/Get_Single_By_IdClienteBodegaResponse" message="tns:IServiceBodega_Get_Single_By_IdClienteBodega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_IdBodegaWMS_By_Codigo_Bodega_ERP">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBodega/Get_IdBodegaWMS_By_Codigo_Bodega_ERP" message="tns:IServiceBodega_Get_IdBodegaWMS_By_Codigo_Bodega_ERP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBodega/Get_IdBodegaWMS_By_Codigo_Bodega_ERPResponse" message="tns:IServiceBodega_Get_IdBodegaWMS_By_Codigo_Bodega_ERP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBodega" type="tns:IServiceBodega">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_All">
      <soap:operation soapAction="http://tempuri.org/IServiceBodega/Get_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdClienteBodega">
      <soap:operation soapAction="http://tempuri.org/IServiceBodega/Get_Single_By_IdClienteBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_IdBodegaWMS_By_Codigo_Bodega_ERP">
      <soap:operation soapAction="http://tempuri.org/IServiceBodega/Get_IdBodegaWMS_By_Codigo_Bodega_ERP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBodega">
    <wsdl:port name="BasicHttpBinding_IServiceBodega" binding="tns:BasicHttpBinding_IServiceBodega">
      <soap:address location="http://192.168.1.138/MI3/Bodega/ServiceBodega.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>