DynamicsNavInterface/Web References/WSCantidadPedidoTransferencia/CantidadEnviar_PedidoTransferencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/CantidadEnviar_PedidoTransferencia" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/CantidadEnviar_PedidoTransferencia" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/CantidadEnviar_PedidoTransferencia" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="LineaPedidoTransferCantEnviar">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="noPedidoTransfer" type="string" />
            <element minOccurs="1" maxOccurs="1" name="noLineaTransfer" type="int" />
            <element minOccurs="1" maxOccurs="1" name="codProducto" type="string" />
            <element minOccurs="1" maxOccurs="1" name="codVariante" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cantidad" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="LineaPedidoTransferCantEnviar_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="LineaPedidoTransferCantEnviar">
    <part name="parameters" element="tns:LineaPedidoTransferCantEnviar" />
  </message>
  <message name="LineaPedidoTransferCantEnviar_Result">
    <part name="parameters" element="tns:LineaPedidoTransferCantEnviar_Result" />
  </message>
  <portType name="CantidadEnviar_PedidoTransferencia_Port">
    <operation name="LineaPedidoTransferCantEnviar">
      <input name="LineaPedidoTransferCantEnviar" message="tns:LineaPedidoTransferCantEnviar" />
      <output name="LineaPedidoTransferCantEnviar_Result" message="tns:LineaPedidoTransferCantEnviar_Result" />
    </operation>
  </portType>
  <binding name="CantidadEnviar_PedidoTransferencia_Binding" type="tns:CantidadEnviar_PedidoTransferencia_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="LineaPedidoTransferCantEnviar">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/CantidadEnviar_PedidoTransferencia:LineaPedidoTransferCantEnviar" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LineaPedidoTransferCantEnviar">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LineaPedidoTransferCantEnviar_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="CantidadEnviar_PedidoTransferencia">
    <port name="CantidadEnviar_PedidoTransferencia_Port" binding="tns:CantidadEnviar_PedidoTransferencia_Binding">
      <address location="http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadEnviar_PedidoTransferencia" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>