SW/Service References/WCFPropietarioReglaRecepcion/ServicePropietarioReglaRecepcion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4180/Propietario_Regla_Recepcion/ServicePropietarioReglaRecepcion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Guarda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjRE" nillable="true" type="q1:clsBePropietario_reglas_enc" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjR" nillable="true" type="q2:ArrayOfclsBePropietario_reglas_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReglaPropietarioEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSingleResult" nillable="true" type="q3:clsBePropietario_reglas_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByEncabezado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReglaPropietarioEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByEncabezadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByEncabezadoResult" nillable="true" type="q4:ArrayOfclsBePropietario_reglas_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllDetResult" nillable="true" type="q5:ArrayOfclsBePropietario_reglas_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByPropietarioResult" nillable="true" type="q6:ArrayOfclsBePropietario_reglas_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesactivarRegla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReglaPropietarioEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesactivarReglaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Desactivar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReglaPropietarioDet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesactivarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteRegla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReglaRecepcion" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteReglaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteReglaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>