SW/Service References/WCFRecepcion/ServiceRecepcion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsBeTarea_hh">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreaTarea" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaCompleto" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdMuelle" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrioridad" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTareahh" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTarea" type="xs:int" />
      <xs:element minOccurs="0" name="IdTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Recordatorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTarea_hh" nillable="true" type="tns:clsBeTarea_hh" />
  <xs:complexType name="clsBeTrans_re_enc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bodega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escanear_rec_ubic" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_tarea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Firma_piloto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Hora_fin_pc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_ini_pc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMuelle" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUbicacionRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListObjRDP" nillable="true" type="tns:ArrayOfclsBeTrans_re_det_parametros" />
      <xs:element minOccurs="0" name="ListObjROP" nillable="true" type="tns:ArrayOfclsBeTrans_re_op" />
      <xs:element minOccurs="0" name="ListaObjF" nillable="true" type="tns:ArrayOfclsBeTrans_re_fact" />
      <xs:element minOccurs="0" name="ListaObjI" nillable="true" type="tns:ArrayOfclsBeTrans_re_img" />
      <xs:element minOccurs="0" name="Muestra_precio" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoGuia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePropietario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjROC" nillable="true" type="tns:clsBeTrans_re_oc" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Para_por_codigo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietario_bodega" />
      <xs:element minOccurs="0" name="Revision_Inconsistencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tomar_fotos" type="xs:boolean" />
      <xs:element minOccurs="0" name="UbicacionRecepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaObjD" nillable="true" type="tns:ArrayOfclsBeTrans_re_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_enc" nillable="true" type="tns:clsBeTrans_re_enc" />
  <xs:complexType name="ArrayOfclsBeTrans_re_det_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_det_parametros" nillable="true" type="tns:clsBeTrans_re_det_parametros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_det_parametros" nillable="true" type="tns:ArrayOfclsBeTrans_re_det_parametros" />
  <xs:complexType name="clsBeTrans_re_det_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametroDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductoParametro" nillable="true" type="tns:clsBeProducto_parametros" />
      <xs:element minOccurs="0" name="TipoParametro" nillable="true" type="tns:clsBeP_parametro" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_Unico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_det_parametros" nillable="true" type="tns:clsBeTrans_re_det_parametros" />
  <xs:complexType name="clsBeProducto_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capturar_siempre" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoParametro" nillable="true" type="tns:clsBeP_parametro" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_Unico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_parametros" nillable="true" type="tns:clsBeProducto_parametros" />
  <xs:complexType name="clsBeP_parametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeP_parametro" nillable="true" type="tns:clsBeP_parametro" />
  <xs:complexType name="ArrayOfclsBeTrans_re_op">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_op" nillable="true" type="tns:clsBeTrans_re_op" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_op" nillable="true" type="tns:ArrayOfclsBeTrans_re_op" />
  <xs:complexType name="clsBeTrans_re_op">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOperadorBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdOperadorRec" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsaHH" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_op" nillable="true" type="tns:clsBeTrans_re_op" />
  <xs:complexType name="ArrayOfclsBeTrans_re_fact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_fact" nillable="true" type="tns:clsBeTrans_re_fact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_fact" nillable="true" type="tns:ArrayOfclsBeTrans_re_fact" />
  <xs:complexType name="clsBeTrans_re_fact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completa" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdFacturaRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_fact" nillable="true" type="tns:clsBeTrans_re_fact" />
  <xs:complexType name="ArrayOfclsBeTrans_re_img">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_img" nillable="true" type="tns:clsBeTrans_re_img" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_img" nillable="true" type="tns:ArrayOfclsBeTrans_re_img" />
  <xs:complexType name="clsBeTrans_re_img">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdImagen" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_img" nillable="true" type="tns:clsBeTrans_re_img" />
  <xs:complexType name="clsBeTrans_re_oc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Firma_operador" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Hora_fin_hh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_ini_hh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionOc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="No_docto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OC" nillable="true" type="tns:clsBeTrans_oc_enc" />
      <xs:element minOccurs="0" name="Recepcion_ciega" type="xs:boolean" />
      <xs:element minOccurs="0" name="Recepcion_manual" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_oc" nillable="true" type="tns:clsBeTrans_re_oc" />
  <xs:complexType name="clsBeTrans_oc_enc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_Poliza" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsDevolucion" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoOC" nillable="true" type="tns:clsBeTrans_oc_estado" />
      <xs:element minOccurs="0" name="ExisteRecepcionNoFinalizada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_Agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Fin_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Inicio_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoOC" type="xs:int" />
      <xs:element minOccurs="0" name="IdMotivoAnulacionBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdMuelleRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietarioBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedorBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoIngresoOC" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="No_Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No_Marchamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjP" nillable="true" type="tns:clsBeTrans_oc_pol" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Procedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programar_Recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="PropietarioBodega" nillable="true" type="tns:clsBePropietario_bodega" />
      <xs:element minOccurs="0" name="ProveedorBodega" nillable="true" type="tns:clsBeProveedor_bodega" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaD" nillable="true" type="tns:ArrayOfclsBeTrans_oc_det" />
      <xs:element minOccurs="0" name="listaI" nillable="true" type="tns:ArrayOfclsBeTrans_oc_imagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_enc" nillable="true" type="tns:clsBeTrans_oc_enc" />
  <xs:complexType name="clsBeTrans_oc_estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstadoOC" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_estado" nillable="true" type="tns:clsBeTrans_oc_estado" />
  <xs:complexType name="clsBeTrans_oc_pol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bl_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buque_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cbm" type="xs:double" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_abordaje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_poliza" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraPol" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoPoliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais_procede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piezas" type="xs:int" />
      <xs:element minOccurs="0" name="Po_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pto_descarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_cambio" type="xs:double" />
      <xs:element minOccurs="0" name="Total_bultos" type="xs:int" />
      <xs:element minOccurs="0" name="Total_bultos_peso" type="xs:double" />
      <xs:element minOccurs="0" name="Total_flete" type="xs:double" />
      <xs:element minOccurs="0" name="Total_kgs" type="xs:double" />
      <xs:element minOccurs="0" name="Total_lineas" type="xs:int" />
      <xs:element minOccurs="0" name="Total_seguro" type="xs:double" />
      <xs:element minOccurs="0" name="Total_usd" type="xs:double" />
      <xs:element minOccurs="0" name="Total_valoraduana" type="xs:double" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Viaje_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_pol" nillable="true" type="tns:clsBeTrans_oc_pol" />
  <xs:complexType name="clsBePropietario_bodega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietarioBodega" type="xs:int" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="ReglasEnc" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_enc" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_bodega" nillable="true" type="tns:clsBePropietario_bodega" />
  <xs:complexType name="clsBePropietarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualiza_costo_oc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoActualizacionCosto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre_comercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietarios" nillable="true" type="tns:clsBePropietarios" />
  <xs:complexType name="clsBeEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anulaciones_por_supervisor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteRapido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Control_presentaciones" type="xs:boolean" />
      <xs:element minOccurs="0" name="Corr_cod_barra" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duracionclave" type="xs:int" />
      <xs:element minOccurs="0" name="Duracionclavetemporal" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Intento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operador_logistico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Path_printer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puerto_escaner" type="xs:int" />
      <xs:element minOccurs="0" name="Razon_social" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Representante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo_automatico" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeEmpresa" nillable="true" type="tns:clsBeEmpresa" />
  <xs:complexType name="ArrayOfclsBePropietario_reglas_enc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietario_reglas_enc" nillable="true" type="tns:clsBePropietario_reglas_enc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietario_reglas_enc" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_enc" />
  <xs:complexType name="clsBePropietario_reglas_enc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMensajeRegla" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regla" nillable="true" type="tns:clsBeReglas_recepcion" />
      <xs:element minOccurs="0" name="ReglasDet" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_det" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_reglas_enc" nillable="true" type="tns:clsBePropietario_reglas_enc" />
  <xs:complexType name="clsBeReglas_recepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdReglaRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rechazar" type="xs:boolean" />
      <xs:element minOccurs="0" name="StockNoDisponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeReglas_recepcion" nillable="true" type="tns:clsBeReglas_recepcion" />
  <xs:complexType name="ArrayOfclsBePropietario_reglas_det">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietario_reglas_det" nillable="true" type="tns:clsBePropietario_reglas_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietario_reglas_det" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_det" />
  <xs:complexType name="clsBePropietario_reglas_det">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDestinatarioPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_reglas_det" nillable="true" type="tns:clsBePropietario_reglas_det" />
  <xs:complexType name="clsBeProveedor_bodega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAsignacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:clsBeProveedor" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProveedor_bodega" nillable="true" type="tns:clsBeProveedor_bodega" />
  <xs:complexType name="clsBeProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualiza_costo_oc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Muestra_precio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProveedor" nillable="true" type="tns:clsBeProveedor" />
  <xs:complexType name="ArrayOfclsBeTrans_oc_det">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_oc_det" nillable="true" type="tns:clsBeTrans_oc_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_oc_det" nillable="true" type="tns:ArrayOfclsBeTrans_oc_det" />
  <xs:complexType name="clsBeTrans_oc_det">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Arancel" nillable="true" type="tns:clsBeArancel" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Cantidad_recibida" type="xs:double" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="ExisteEnRecepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="FactorPresentacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdArancel" type="xs:int" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedidaBasica" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="No_Linea" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_arancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_unidad_medida_basica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje_arancel" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:clsBeProducto" />
      <xs:element minOccurs="0" name="Total_linea" type="xs:double" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:clsBeUnidad_medida" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_det" nillable="true" type="tns:clsBeTrans_oc_det" />
  <xs:complexType name="clsBeArancel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdArancel" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:double" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeArancel" nillable="true" type="tns:clsBeArancel" />
  <xs:complexType name="clsBeProducto_presentacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Alto" type="xs:double" />
      <xs:element minOccurs="0" name="Ancho" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="EsPallet" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExisteStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Factor" type="xs:double" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Imprime_barra" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Largo" type="xs:double" />
      <xs:element minOccurs="0" name="MaximoExistencia" type="xs:double" />
      <xs:element minOccurs="0" name="MaximoPeso" type="xs:double" />
      <xs:element minOccurs="0" name="MedidasPorTarima" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion_tarima" />
      <xs:element minOccurs="0" name="MinimoExistencia" type="xs:double" />
      <xs:element minOccurs="0" name="MinimoPeso" type="xs:double" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="RellenadoPorUbicacionDePicking" nillable="true" type="tns:ArrayOfclsBeProducto_rellenado" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
  <xs:complexType name="ArrayOfclsBeProducto_presentacion_tarima">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_presentacion_tarima" nillable="true" type="tns:clsBeProducto_presentacion_tarima" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_presentacion_tarima" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion_tarima" />
  <xs:complexType name="clsBeProducto_presentacion_tarima">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="CantidadPorCama" type="xs:double" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPresentacionTarima" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTarima" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTarima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_presentacion_tarima" nillable="true" type="tns:clsBeProducto_presentacion_tarima" />
  <xs:complexType name="ArrayOfclsBeProducto_rellenado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_rellenado" nillable="true" type="tns:clsBeProducto_rellenado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_rellenado" nillable="true" type="tns:ArrayOfclsBeProducto_rellenado" />
  <xs:complexType name="clsBeProducto_rellenado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdRellenado" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoAccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Maximo" type="xs:double" />
      <xs:element minOccurs="0" name="Minimo" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_rellenado" nillable="true" type="tns:clsBeProducto_rellenado" />
  <xs:complexType name="clsBeProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Arancel" nillable="true" type="tns:clsBeArancel" />
      <xs:element minOccurs="0" name="Captura_Arancel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capturar_Aniada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ciclo_vida" type="xs:int" />
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="tns:clsBeProducto_clasificacion" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigos_Barra" nillable="true" type="tns:ArrayOfclsBeProducto_codigos_barra" />
      <xs:element minOccurs="0" name="Control_Peso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_lote" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_vencimiento" type="xs:boolean" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="Es_Hardware" type="xs:boolean" />
      <xs:element minOccurs="0" name="Existencia_max" type="xs:double" />
      <xs:element minOccurs="0" name="Existencia_min" type="xs:double" />
      <xs:element minOccurs="0" name="Familia" nillable="true" type="tns:clsBeProducto_familia" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaManufactura" type="xs:boolean" />
      <xs:element minOccurs="0" name="Genera_LP" type="xs:boolean" />
      <xs:element minOccurs="0" name="Genera_lote" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdArancel" type="xs:int" />
      <xs:element minOccurs="0" name="IdCamara" type="xs:int" />
      <xs:element minOccurs="0" name="IdIndiceRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPerfilSerializado" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdSimbologia" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:clsBeProducto_marca" />
      <xs:element minOccurs="0" name="Materia_prima" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoParte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parametros" nillable="true" type="tns:ArrayOfclsBeProducto_parametros" />
      <xs:element minOccurs="0" name="Peso_despacho" type="xs:boolean" />
      <xs:element minOccurs="0" name="Peso_recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Peso_referencia" type="xs:double" />
      <xs:element minOccurs="0" name="Peso_tolerancia" type="xs:double" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Presentaciones" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Serializado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_despacho" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_referencia" type="xs:double" />
      <xs:element minOccurs="0" name="Temperatura_tolerancia" type="xs:double" />
      <xs:element minOccurs="0" name="TipoProducto" nillable="true" type="tns:clsBeProducto_tipo" />
      <xs:element minOccurs="0" name="Tolerancia" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:clsBeUnidad_medida" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto" nillable="true" type="tns:clsBeProducto" />
  <xs:complexType name="clsBeProducto_clasificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdClasificacion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Sistema" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_clasificacion" nillable="true" type="tns:clsBeProducto_clasificacion" />
  <xs:complexType name="ArrayOfclsBeProducto_codigos_barra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_codigos_barra" nillable="true" type="tns:clsBeProducto_codigos_barra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_codigos_barra" nillable="true" type="tns:ArrayOfclsBeProducto_codigos_barra" />
  <xs:complexType name="clsBeProducto_codigos_barra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoCodigoBarra" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:clsBeProveedor" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_codigos_barra" nillable="true" type="tns:clsBeProducto_codigos_barra" />
  <xs:complexType name="clsBeProducto_familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdFamilia" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_familia" nillable="true" type="tns:clsBeProducto_familia" />
  <xs:complexType name="clsBeProducto_marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_marca" nillable="true" type="tns:clsBeProducto_marca" />
  <xs:complexType name="ArrayOfclsBeProducto_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_parametros" nillable="true" type="tns:clsBeProducto_parametros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_parametros" nillable="true" type="tns:ArrayOfclsBeProducto_parametros" />
  <xs:complexType name="ArrayOfclsBeProducto_presentacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_presentacion" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion" />
  <xs:complexType name="clsBeProducto_tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_tipo" nillable="true" type="tns:clsBeProducto_tipo" />
  <xs:complexType name="clsBeUnidad_medida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeUnidad_medida" nillable="true" type="tns:clsBeUnidad_medida" />
  <xs:complexType name="ArrayOfclsBeTrans_oc_imagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_oc_imagen" nillable="true" type="tns:clsBeTrans_oc_imagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_oc_imagen" nillable="true" type="tns:ArrayOfclsBeTrans_oc_imagen" />
  <xs:complexType name="clsBeTrans_oc_imagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraImg" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_imagen" nillable="true" type="tns:clsBeTrans_oc_imagen" />
  <xs:complexType name="ArrayOfclsBeTrans_re_det">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_det" nillable="true" type="tns:clsBeTrans_re_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_det" nillable="true" type="tns:ArrayOfclsBeTrans_re_det" />
  <xs:complexType name="clsBeTrans_re_det">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aniada" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_recibida" type="xs:double" />
      <xs:element minOccurs="0" name="Control_Peso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_vence" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdOperador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietarioBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacionAnterior" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoDevolucion" nillable="true" type="tns:clsBeMotivo_devolucion" />
      <xs:element minOccurs="0" name="No_Linea" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_producto_estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_unidad_medida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:clsBeProducto" />
      <xs:element minOccurs="0" name="ProductoEstado" nillable="true" type="tns:clsBeProducto_estado" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:clsBeUnidad_medida" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_re_det" nillable="true" type="tns:clsBeTrans_re_det" />
  <xs:complexType name="clsBeMotivo_devolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Es_detalle" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeMotivo_devolucion" nillable="true" type="tns:clsBeMotivo_devolucion" />
  <xs:complexType name="clsBeProducto_estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Dañado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacionDefecto" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utilizable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_estado" nillable="true" type="tns:clsBeProducto_estado" />
  <xs:complexType name="ArrayOfclsBeStock_se_rec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeStock_se_rec" nillable="true" type="tns:clsBeStock_se_rec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeStock_se_rec" nillable="true" type="tns:ArrayOfclsBeStock_se_rec" />
  <xs:complexType name="clsBeStock_se_rec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_regularizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdStockRec" type="xs:int" />
      <xs:element minOccurs="0" name="IdStockSeRec" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerieFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerieInicial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regularizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeStock_se_rec" nillable="true" type="tns:clsBeStock_se_rec" />
  <xs:complexType name="ArrayOfArrayOfclsBeStock_rec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfclsBeStock_rec" nillable="true" type="tns:ArrayOfclsBeStock_rec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfclsBeStock_rec" nillable="true" type="tns:ArrayOfArrayOfclsBeStock_rec" />
  <xs:complexType name="ArrayOfclsBeStock_rec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeStock_rec" nillable="true" type="tns:clsBeStock_rec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeStock_rec" nillable="true" type="tns:ArrayOfclsBeStock_rec" />
  <xs:complexType name="clsBeStock_rec">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Añada" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:clsBeProducto_estado" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_manufactura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_regularizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_vence" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDespachoEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdPedidoEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdPickingEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietarioBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecepcionEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdStockRec" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion_anterior" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lic_plate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No_bulto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="ProductoValidado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Regularizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperatura" type="xs:double" />
      <xs:element minOccurs="0" name="Uds_lic_plate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeStock_rec" nillable="true" type="tns:clsBeStock_rec" />
  <xs:complexType name="ArrayOfclsBeStock_parametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeStock_parametro" nillable="true" type="tns:clsBeStock_parametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeStock_parametro" nillable="true" type="tns:ArrayOfclsBeStock_parametro" />
  <xs:complexType name="clsBeStock_parametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProductoParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IdStock" type="xs:int" />
      <xs:element minOccurs="0" name="IdStockParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeStock_parametro" nillable="true" type="tns:clsBeStock_parametro" />
  <xs:complexType name="ArrayOfclsBeStock_se">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeStock_se" nillable="true" type="tns:clsBeStock_se" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeStock_se" nillable="true" type="tns:ArrayOfclsBeStock_se" />
  <xs:complexType name="clsBeStock_se">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdStock" type="xs:int" />
      <xs:element minOccurs="0" name="IdStockSe" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerieFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerieInicial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeStock_se" nillable="true" type="tns:clsBeStock_se" />
  <xs:complexType name="ArrayOfclsBeTrans_re_enc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_re_enc" nillable="true" type="tns:clsBeTrans_re_enc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_re_enc" nillable="true" type="tns:ArrayOfclsBeTrans_re_enc" />
</xs:schema>