SW/Service References/WCFRecepcion/ServiceRecepcion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4180/Recepcion/ServiceRecepcion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjTareaHH" nillable="true" type="q1:clsBeTarea_hh" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjR" nillable="true" type="q2:clsBeTrans_re_enc" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjROC" nillable="true" type="q3:clsBeTrans_re_oc" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjRD" nillable="true" type="q4:ArrayOfclsBeTrans_re_det" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjRDP" nillable="true" type="q5:ArrayOfclsBeTrans_re_det_parametros" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjROP" nillable="true" type="q6:ArrayOfclsBeTrans_re_op" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjF" nillable="true" type="q7:ArrayOfclsBeTrans_re_fact" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjRI" nillable="true" type="q8:ArrayOfclsBeTrans_re_img" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjSE" nillable="true" type="q9:ArrayOfclsBeStock_se_rec" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjS" nillable="true" type="q10:ArrayOfArrayOfclsBeStock_rec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpresionByRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpresionByRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImpresionByRecepcionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pRecEnc" nillable="true" type="q11:clsBeTrans_re_enc" />
        <xs:element minOccurs="0" name="backoreder" type="xs:boolean" />
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
        <xs:element minOccurs="0" name="pIdUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjDetR" nillable="true" type="q12:ArrayOfclsBeTrans_re_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarRecepcionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByRecepcionResult" nillable="true" type="q13:ArrayOfclsBeStock_rec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByIdStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdStock" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByIdStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByIdStockResult" nillable="true" type="q14:ArrayOfclsBeStock_parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeriesByIdStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdStock" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeriesByIdStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllSeriesByIdStockResult" nillable="true" type="q15:ArrayOfclsBeStock_se" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSingleResult" nillable="true" type="q16:clsBeTrans_re_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="pFechaDel" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pFechaAl" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSerieByIdStockRec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdStockRec" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSerieByIdStockRecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllSerieByIdStockRecResult" nillable="true" type="q17:ArrayOfclsBeStock_se_rec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperadoresByRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperadoresByRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllOperadoresByRecepcionResult" nillable="true" type="q18:ArrayOfclsBeTrans_re_op" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStockRecByRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStockRecByRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllStockRecByRecepcionResult" nillable="true" type="q19:ArrayOfclsBeStock_rec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOperadorRec" type="xs:int" />
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdRecepcionDet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageByIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdImagen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageByIndexResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdEnc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdEncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdEncResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdDetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdDetP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdRecepcionDet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdDetPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdDetPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdImg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdImgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdImgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdOC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRecepcionEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdOCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdOCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdFacturaRecepcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByBodegaResult" nillable="true" type="q20:ArrayOfclsBeTrans_re_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByOrdenCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByOrdenCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByOrdenCompraResult" nillable="true" type="q21:ArrayOfclsBeTrans_re_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>