TestMI3/Connected Services/srvCliente/ServiceCliente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.3/MI3/Cliente/Cliente/ServiceCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pObjC" nillable="true" type="q1:clsBeCliente" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pListObjCT" nillable="true" type="q2:ArrayOfclsBeCliente_tiempos" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pListObjCB" nillable="true" type="q3:ArrayOfclsBeCliente_bodega" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pUbicacionesEntregaCliente" nillable="true" type="q4:ArrayOfclsBeCliente_direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Single">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pBeCliente" nillable="true" type="q5:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_SingleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pObjC" nillable="true" type="q6:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_FilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_FilterResult" nillable="true" type="q7:ArrayOfclsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_IdClienteResult" nillable="true" type="q8:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_Propietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_PropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_PropietarioResult" nillable="true" type="q9:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Tiempos_By_IdCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Tiempos_By_IdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_Tiempos_By_IdClienteResult" nillable="true" type="q10:ArrayOfclsBeCliente_tiempos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Direcciones_Entrega_By_IdCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Direcciones_Entrega_By_IdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_Direcciones_Entrega_By_IdClienteResult" nillable="true" type="q11:ArrayOfclsBeCliente_direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Bodegas_By_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Bodegas_By_ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_Bodegas_By_ClienteResult" nillable="true" type="q12:ArrayOfclsBeCliente_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Max_Id_Dir_Entrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Max_Id_Dir_EntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Max_Id_Dir_EntregaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Max_IdCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Max_IdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Max_IdClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Single">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pBeCliente" nillable="true" type="q13:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_SingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_SingleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Existe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ExisteResult" nillable="true" type="q14:clsBeCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>