SW/Service References/WCFPropietarioDestinatario/PropietarioDestinatario3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsBePropietario_destinatario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_electronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDestinatarioPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_destinatario" nillable="true" type="tns:clsBePropietario_destinatario" />
  <xs:complexType name="ArrayOfclsBePropietario_destinatario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietario_destinatario" nillable="true" type="tns:clsBePropietario_destinatario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietario_destinatario" nillable="true" type="tns:ArrayOfclsBePropietario_destinatario" />
</xs:schema>