TestMI3/Connected Services/srvBarrasPallet/Barras_Pallet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Barras_Pallet" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.98/MI3/Barras_Pallet/Barras_Pallet.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.98/MI3/Barras_Pallet/Barras_Pallet.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.98/MI3/Barras_Pallet/Barras_Pallet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBarras_Pallet_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Insert_Single_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Single" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Insert_Single_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_SingleResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Update_Single_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Single" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Update_Single_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_SingleResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Max_IdPallet_InputMessage">
    <wsdl:part name="parameters" element="tns:Max_IdPallet" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Max_IdPallet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Max_IdPalletResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Existe_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Existe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Get_All_Activos_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Activos" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Get_All_Activos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_ActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Get_All_Pendientes_Recepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Pendientes_Recepcion" />
  </wsdl:message>
  <wsdl:message name="IBarras_Pallet_Get_All_Pendientes_Recepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Pendientes_RecepcionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBarras_Pallet">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Insert" message="tns:IBarras_Pallet_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/InsertResponse" message="tns:IBarras_Pallet_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Single">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Insert_Single" message="tns:IBarras_Pallet_Insert_Single_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/Insert_SingleResponse" message="tns:IBarras_Pallet_Insert_Single_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Single">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Update_Single" message="tns:IBarras_Pallet_Update_Single_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/Update_SingleResponse" message="tns:IBarras_Pallet_Update_Single_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Max_IdPallet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Max_IdPallet" message="tns:IBarras_Pallet_Max_IdPallet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/Max_IdPalletResponse" message="tns:IBarras_Pallet_Max_IdPallet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Existe" message="tns:IBarras_Pallet_Existe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/ExisteResponse" message="tns:IBarras_Pallet_Existe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Activos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Get_All_Activos" message="tns:IBarras_Pallet_Get_All_Activos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/Get_All_ActivosResponse" message="tns:IBarras_Pallet_Get_All_Activos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Pendientes_Recepcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarras_Pallet/Get_All_Pendientes_Recepcion" message="tns:IBarras_Pallet_Get_All_Pendientes_Recepcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarras_Pallet/Get_All_Pendientes_RecepcionResponse" message="tns:IBarras_Pallet_Get_All_Pendientes_Recepcion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBarras_Pallet" type="tns:IBarras_Pallet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Single">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Insert_Single" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Single">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Update_Single" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Max_IdPallet">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Max_IdPallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Existe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Activos">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Get_All_Activos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Pendientes_Recepcion">
      <soap:operation soapAction="http://tempuri.org/IBarras_Pallet/Get_All_Pendientes_Recepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Barras_Pallet">
    <wsdl:port name="BasicHttpBinding_IBarras_Pallet" binding="tns:BasicHttpBinding_IBarras_Pallet">
      <soap:address location="http://192.168.0.98/MI3/Barras_Pallet/Barras_Pallet.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>