TestMI3/Connected Services/srvUsuario/srvUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://52.41.114.122/MI3/Usuario/srvUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://52.41.114.122/MI3/Usuario/srvUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://52.41.114.122/MI3/Usuario/srvUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvUsuario_Usuario_Valido_By_Obj_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Valido_By_Obj" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuario_Usuario_Valido_By_Obj_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Valido_By_ObjResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuario_Usuario_Valido_By_Params_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Valido_By_Params" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuario_Usuario_Valido_By_Params_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Valido_By_ParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvUsuario">
    <wsdl:operation name="Usuario_Valido_By_Obj">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_Obj" message="tns:IsrvUsuario_Usuario_Valido_By_Obj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_ObjResponse" message="tns:IsrvUsuario_Usuario_Valido_By_Obj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Valido_By_Params">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_Params" message="tns:IsrvUsuario_Usuario_Valido_By_Params_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_ParamsResponse" message="tns:IsrvUsuario_Usuario_Valido_By_Params_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvUsuario" type="tns:IsrvUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Usuario_Valido_By_Obj">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_Obj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Valido_By_Params">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuario/Usuario_Valido_By_Params" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvUsuario">
    <wsdl:port name="BasicHttpBinding_IsrvUsuario" binding="tns:BasicHttpBinding_IsrvUsuario">
      <soap:address location="http://52.41.114.122/MI3/Usuario/srvUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>