TestMI3/Connected Services/srvUsuario/srvUsuario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://52.41.114.122/MI3/Usuario/srvUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
  <xs:element name="Usuario_Valido_By_Obj">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Usuario" nillable="true" type="q1:clsBeUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Valido_By_ObjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_Valido_By_ObjResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Usuario" nillable="true" type="q2:clsBeUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Valido_By_Params">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pClave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIdEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Valido_By_ParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_Valido_By_ParamsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>