DynamicsNavInterface/Web References/WSCreaPicking/Crea_picking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/crea_picking" targetNamespace="urn:microsoft-dynamics-schemas/page/crea_picking" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/crea_picking" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Whse_Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Receipt" />
          <xsd:enumeration value="Shipment" />
          <xsd:enumeration value="Internal_Put_away" />
          <xsd:enumeration value="Internal_Pick" />
          <xsd:enumeration value="Production" />
          <xsd:enumeration value="Whse_Mov_Worksheet" />
          <xsd:enumeration value="Internal_Movement" />
          <xsd:enumeration value="Assembly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Advice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Destination_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Vendor" />
          <xsd:enumeration value="Location" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Document">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Sales_Order" />
          <xsd:enumeration value="Sales_Return_Order" />
          <xsd:enumeration value="Purchase_Order" />
          <xsd:enumeration value="Purchase_Return_Order" />
          <xsd:enumeration value="Inbound_Transfer" />
          <xsd:enumeration value="Outbound_Transfer" />
          <xsd:enumeration value="Prod_Consumption" />
          <xsd:enumeration value="Assembly_Consumption" />
          <xsd:enumeration value="Assembly_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Crea_picking">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Type" type="tns:Whse_Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Zone_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shelf_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Handle" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Outstanding" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Advice" type="tns:Shipping_Advice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Destination_Type" type="tns:Destination_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Destination_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Document" type="tns:Source_Document" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QtyCrossDockedUOM" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QtyCrossDockedUOMBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="QtyCrossDockedAllUOMBase" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Crea_picking_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Crea_picking" type="tns:Crea_picking" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Crea_picking_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Whse_Document_Type" />
          <xsd:enumeration value="Whse_Document_No" />
          <xsd:enumeration value="Whse_Document_Line_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="To_Zone_Code" />
          <xsd:enumeration value="To_Bin_Code" />
          <xsd:enumeration value="Shelf_No" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Qty_to_Handle" />
          <xsd:enumeration value="Qty_Outstanding" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Shipping_Advice" />
          <xsd:enumeration value="Destination_Type" />
          <xsd:enumeration value="Destination_No" />
          <xsd:enumeration value="Source_Document" />
          <xsd:enumeration value="Source_No" />
          <xsd:enumeration value="Source_Line_No" />
          <xsd:enumeration value="QtyCrossDockedUOM" />
          <xsd:enumeration value="QtyCrossDockedUOMBase" />
          <xsd:enumeration value="QtyCrossDockedAllUOMBase" />
          <xsd:enumeration value="ItemDescription" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Crea_picking_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Crea_picking_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentWkshName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentLocationCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSortingMethod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Crea_picking" type="tns:Crea_picking" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentWkshName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentLocationCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSortingMethod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Crea_picking_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Crea_picking_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentWkshName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentLocationCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSortingMethod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Crea_picking" type="tns:Crea_picking" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Crea_picking" type="tns:Crea_picking" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentWkshName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentLocationCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSortingMethod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Crea_picking_List" type="tns:Crea_picking_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Crea_picking_List" type="tns:Crea_picking_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentWkshName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentLocationCode" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSortingMethod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Crea_picking_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Crea_picking_Binding" type="tns:Crea_picking_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/crea_picking:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Crea_picking_Service">
    <port name="Crea_picking_Port" binding="tns:Crea_picking_Binding">
      <address location="http://168.194.73.242:7047/DynamicsNAV110/WS/PRALCASA/Page/Crea_picking" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>