TOMIMSV4/TOMIMSV4/Service References/srvRoadDespacho/srvRoadDespacho35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.17/MI3/Road/srvRoadDespacho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Enviar_Despacho_A_Road">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeDespachoEnc" nillable="true" type="q1:clsBeTrans_despacho_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enviar_Despacho_A_RoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Enviar_Despacho_A_RoadResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeDespachoEnc" nillable="true" type="q2:clsBeTrans_despacho_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>