DynamicsNavInterface/Web References/WSProveedores/Proveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/proveedores" targetNamespace="urn:microsoft-dynamics-schemas/page/proveedores" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/proveedores" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Payment" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type_Contributor">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Large" />
          <xsd:enumeration value="Medium" />
          <xsd:enumeration value="Small" />
          <xsd:enumeration value="Goverment" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Favorite_Doc">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Client" />
          <xsd:enumeration value="Proof_Tax_Credit" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="Selected" />
          <xsd:enumeration value="Impor" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Other_Doc">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Receipt" />
          <xsd:enumeration value="Excluded_Subject" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Application_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Apply_to_Oldest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Partner_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Tax_Identification_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Legal_Entity" />
          <xsd:enumeration value="Natural_Person" />
          <xsd:enumeration value="Natural_inscribed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Bank_Communication">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="E_English" />
          <xsd:enumeration value="F_French" />
          <xsd:enumeration value="S_Spanish" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Check_Date_Format">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="MM_DD_YYYY" />
          <xsd:enumeration value="DD_MM_YYYY" />
          <xsd:enumeration value="YYYY_MM_DD" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Check_Date_Separator">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="_minus_" />
          <xsd:enumeration value="_dot_" />
          <xsd:enumeration value="_slash_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Proveedores">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Primary_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Balance_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Purchaser_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Responsibility_Center" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="tns:Blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_Page" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pay_to_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Disc_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prices_Including_VAT" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type_Contributor" type="tns:Type_Contributor" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Favorite_Doc" type="tns:Favorite_Doc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GIRO" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Other_Doc" type="tns:Other_Doc" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Method" type="tns:Application_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Partner_Type" type="tns:Partner_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Priority" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Flow_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IRS_1099_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Federal_ID_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Identification_Type" type="tns:Tax_Identification_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Registration_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RFC_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CURP_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State_Inscription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Our_Account_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Block_Payment_Tolerance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creditor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Preferred_Bank_Account" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lead_Time_Calculation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customized_Calendar" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Communication" type="tns:Bank_Communication" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Check_Date_Format" type="tns:Check_Date_Format" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Check_Date_Separator" type="tns:Check_Date_Separator" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Proveedores_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Proveedores" type="tns:Proveedores" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Proveedores_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Address" />
          <xsd:enumeration value="Address_2" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="Country_Region_Code" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="Primary_Contact_No" />
          <xsd:enumeration value="Contact" />
          <xsd:enumeration value="Search_Name" />
          <xsd:enumeration value="Balance_LCY" />
          <xsd:enumeration value="Purchaser_Code" />
          <xsd:enumeration value="Responsibility_Center" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Fax_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Home_Page" />
          <xsd:enumeration value="IC_Partner_Code" />
          <xsd:enumeration value="Pay_to_Vendor_No" />
          <xsd:enumeration value="Tax_Liable" />
          <xsd:enumeration value="Tax_Area_Code" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="VAT_Bus_Posting_Group" />
          <xsd:enumeration value="Vendor_Posting_Group" />
          <xsd:enumeration value="Invoice_Disc_Code" />
          <xsd:enumeration value="Prices_Including_VAT" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="Type_Contributor" />
          <xsd:enumeration value="Favorite_Doc" />
          <xsd:enumeration value="GIRO" />
          <xsd:enumeration value="Other_Doc" />
          <xsd:enumeration value="Application_Method" />
          <xsd:enumeration value="Partner_Type" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Priority" />
          <xsd:enumeration value="Cash_Flow_Payment_Terms_Code" />
          <xsd:enumeration value="IRS_1099_Code" />
          <xsd:enumeration value="Federal_ID_No" />
          <xsd:enumeration value="Tax_Identification_Type" />
          <xsd:enumeration value="VAT_Registration_No" />
          <xsd:enumeration value="RFC_No" />
          <xsd:enumeration value="CURP_No" />
          <xsd:enumeration value="State_Inscription" />
          <xsd:enumeration value="Our_Account_No" />
          <xsd:enumeration value="Block_Payment_Tolerance" />
          <xsd:enumeration value="Creditor_No" />
          <xsd:enumeration value="Preferred_Bank_Account" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Shipping_Agent_Code" />
          <xsd:enumeration value="Lead_Time_Calculation" />
          <xsd:enumeration value="Base_Calendar_Code" />
          <xsd:enumeration value="Customized_Calendar" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Language_Code" />
          <xsd:enumeration value="Bank_Communication" />
          <xsd:enumeration value="Check_Date_Format" />
          <xsd:enumeration value="Check_Date_Separator" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Proveedores_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Proveedores_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Proveedores_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Proveedores_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores_List" type="tns:Proveedores_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores_List" type="tns:Proveedores_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores" type="tns:Proveedores" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores_List" type="tns:Proveedores_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Proveedores_List" type="tns:Proveedores_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Proveedores_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Proveedores_Binding" type="tns:Proveedores_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/proveedores:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Proveedores_Service">
    <port name="Proveedores_Port" binding="tns:Proveedores_Binding">
      <address location="http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Page/Proveedores" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>