SW/Service References/WCFOrdenCompra/ServiceOrdenCompra2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsBeTrans_oc_enc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_Poliza" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsDevolucion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_Agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Fin_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Inicio_Recepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoOC" type="xs:int" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdMuelleRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoIngresoOC" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="No_Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No_Marchamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjP" nillable="true" type="tns:clsBeTrans_oc_pol" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Procedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programar_Recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietario_bodega" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:clsBeProveedor" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaD" nillable="true" type="tns:ArrayOfclsBeTrans_oc_det" />
      <xs:element minOccurs="0" name="listaI" nillable="true" type="tns:ArrayOfclsBeTrans_oc_imagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_enc" nillable="true" type="tns:clsBeTrans_oc_enc" />
  <xs:complexType name="clsBeTrans_oc_pol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bl_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buque_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cbm" type="xs:double" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_abordaje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_poliza" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraPol" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoPoliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais_procede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piezas" type="xs:int" />
      <xs:element minOccurs="0" name="Po_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pto_descarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_cambio" type="xs:double" />
      <xs:element minOccurs="0" name="Total_bultos" type="xs:int" />
      <xs:element minOccurs="0" name="Total_bultos_peso" type="xs:double" />
      <xs:element minOccurs="0" name="Total_flete" type="xs:double" />
      <xs:element minOccurs="0" name="Total_kgs" type="xs:double" />
      <xs:element minOccurs="0" name="Total_lineas" type="xs:int" />
      <xs:element minOccurs="0" name="Total_seguro" type="xs:double" />
      <xs:element minOccurs="0" name="Total_usd" type="xs:double" />
      <xs:element minOccurs="0" name="Total_valoraduana" type="xs:double" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Viaje_no" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_pol" nillable="true" type="tns:clsBeTrans_oc_pol" />
  <xs:complexType name="clsBePropietario_bodega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietarioBodega" type="xs:int" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="ReglasEnc" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_enc" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_bodega" nillable="true" type="tns:clsBePropietario_bodega" />
  <xs:complexType name="clsBePropietarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualiza_costo_oc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoActualizacionCosto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre_comercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietarios" nillable="true" type="tns:clsBePropietarios" />
  <xs:complexType name="clsBeEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anulaciones_por_supervisor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteRapido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Control_presentaciones" type="xs:boolean" />
      <xs:element minOccurs="0" name="Corr_cod_barra" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duracionclave" type="xs:int" />
      <xs:element minOccurs="0" name="Duracionclavetemporal" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Intento" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operador_logistico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Path_printer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puerto_escaner" type="xs:int" />
      <xs:element minOccurs="0" name="Razon_social" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Representante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeEmpresa" nillable="true" type="tns:clsBeEmpresa" />
  <xs:complexType name="ArrayOfclsBePropietario_reglas_enc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietario_reglas_enc" nillable="true" type="tns:clsBePropietario_reglas_enc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietario_reglas_enc" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_enc" />
  <xs:complexType name="clsBePropietario_reglas_enc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMensajeRegla" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReglasDet" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_det" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_reglas_enc" nillable="true" type="tns:clsBePropietario_reglas_enc" />
  <xs:complexType name="ArrayOfclsBePropietario_reglas_det">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietario_reglas_det" nillable="true" type="tns:clsBePropietario_reglas_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietario_reglas_det" nillable="true" type="tns:ArrayOfclsBePropietario_reglas_det" />
  <xs:complexType name="clsBePropietario_reglas_det">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDestinatarioPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdReglaPropietarioEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietario_reglas_det" nillable="true" type="tns:clsBePropietario_reglas_det" />
  <xs:complexType name="clsBeProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualiza_costo_oc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="Muestra_precio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProveedor" nillable="true" type="tns:clsBeProveedor" />
  <xs:complexType name="ArrayOfclsBeTrans_oc_det">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_oc_det" nillable="true" type="tns:clsBeTrans_oc_det" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_oc_det" nillable="true" type="tns:ArrayOfclsBeTrans_oc_det" />
  <xs:complexType name="clsBeTrans_oc_det">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Arancel" nillable="true" type="tns:clsBeArancel" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Cantidad_recibida" type="xs:double" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="ExisteEnRecepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMotivoDevolucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraDet" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="No_Linea" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_arancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_unidad_medida_basica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje_arancel" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:clsBeProducto" />
      <xs:element minOccurs="0" name="Total_linea" type="xs:double" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:clsBeUnidad_medida" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_det" nillable="true" type="tns:clsBeTrans_oc_det" />
  <xs:complexType name="clsBeArancel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdArancel" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:double" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeArancel" nillable="true" type="tns:clsBeArancel" />
  <xs:complexType name="clsBeProducto_presentacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Alto" type="xs:double" />
      <xs:element minOccurs="0" name="Ancho" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsPallet" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExisteStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Factor" type="xs:double" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Imprime_barra" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Largo" type="xs:double" />
      <xs:element minOccurs="0" name="MaximoExistencia" type="xs:double" />
      <xs:element minOccurs="0" name="MaximoPeso" type="xs:double" />
      <xs:element minOccurs="0" name="MedidasPorTarima" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion_tarima" />
      <xs:element minOccurs="0" name="MinimoExistencia" type="xs:double" />
      <xs:element minOccurs="0" name="MinimoPeso" type="xs:double" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="RellenadoPorUbicacionDePicking" nillable="true" type="tns:ArrayOfclsBeProducto_rellenado" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
  <xs:complexType name="ArrayOfclsBeProducto_presentacion_tarima">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_presentacion_tarima" nillable="true" type="tns:clsBeProducto_presentacion_tarima" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_presentacion_tarima" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion_tarima" />
  <xs:complexType name="clsBeProducto_presentacion_tarima">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPresentacionTarima" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoTarima" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTarima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_presentacion_tarima" nillable="true" type="tns:clsBeProducto_presentacion_tarima" />
  <xs:complexType name="ArrayOfclsBeProducto_rellenado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_rellenado" nillable="true" type="tns:clsBeProducto_rellenado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_rellenado" nillable="true" type="tns:ArrayOfclsBeProducto_rellenado" />
  <xs:complexType name="clsBeProducto_rellenado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdRellenado" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoAccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUbicacion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Maximo" type="xs:double" />
      <xs:element minOccurs="0" name="Minimo" type="xs:double" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_rellenado" nillable="true" type="tns:clsBeProducto_rellenado" />
  <xs:complexType name="clsBeProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Arancel" nillable="true" type="tns:clsBeArancel" />
      <xs:element minOccurs="0" name="Capturar_Aniada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ciclo_vida" type="xs:int" />
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="tns:clsBeProducto_clasificacion" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigos_Barra" nillable="true" type="tns:ArrayOfclsBeProducto_codigos_barra" />
      <xs:element minOccurs="0" name="Control_Peso" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_lote" type="xs:boolean" />
      <xs:element minOccurs="0" name="Control_vencimiento" type="xs:boolean" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="Existencia_max" type="xs:double" />
      <xs:element minOccurs="0" name="Existencia_min" type="xs:double" />
      <xs:element minOccurs="0" name="Familia" nillable="true" type="tns:clsBeProducto_familia" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaManufactura" type="xs:boolean" />
      <xs:element minOccurs="0" name="Genera_Ip" type="xs:boolean" />
      <xs:element minOccurs="0" name="Genera_lote" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdArancel" type="xs:int" />
      <xs:element minOccurs="0" name="IdCamara" type="xs:int" />
      <xs:element minOccurs="0" name="IdIndiceRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPerfilSerializado" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      <xs:element minOccurs="0" name="IdSimbologia" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:clsBeProducto_marca" />
      <xs:element minOccurs="0" name="Materia_prima" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoParte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parametros" nillable="true" type="tns:ArrayOfclsBeProducto_parametros" />
      <xs:element minOccurs="0" name="Peso_despacho" type="xs:boolean" />
      <xs:element minOccurs="0" name="Peso_recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Peso_referencia" type="xs:double" />
      <xs:element minOccurs="0" name="Peso_tolerancia" type="xs:double" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Presentaciones" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Serializado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_despacho" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_recepcion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperatura_referencia" type="xs:double" />
      <xs:element minOccurs="0" name="Temperatura_tolerancia" type="xs:double" />
      <xs:element minOccurs="0" name="TipoProducto" nillable="true" type="tns:clsBeProducto_tipo" />
      <xs:element minOccurs="0" name="Tolerancia" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:clsBeUnidad_medida" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto" nillable="true" type="tns:clsBeProducto" />
  <xs:complexType name="clsBeProducto_clasificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdClasificacion" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="Sistema" type="xs:boolean" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_clasificacion" nillable="true" type="tns:clsBeProducto_clasificacion" />
  <xs:complexType name="ArrayOfclsBeProducto_codigos_barra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_codigos_barra" nillable="true" type="tns:clsBeProducto_codigos_barra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_codigos_barra" nillable="true" type="tns:ArrayOfclsBeProducto_codigos_barra" />
  <xs:complexType name="clsBeProducto_codigos_barra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo_barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoCodigoBarra" type="xs:int" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="tns:clsBeProveedor" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_codigos_barra" nillable="true" type="tns:clsBeProducto_codigos_barra" />
  <xs:complexType name="clsBeProducto_familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdFamilia" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_familia" nillable="true" type="tns:clsBeProducto_familia" />
  <xs:complexType name="clsBeProducto_marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_marca" nillable="true" type="tns:clsBeProducto_marca" />
  <xs:complexType name="ArrayOfclsBeProducto_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_parametros" nillable="true" type="tns:clsBeProducto_parametros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_parametros" nillable="true" type="tns:ArrayOfclsBeProducto_parametros" />
  <xs:complexType name="clsBeProducto_parametros">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capturar_siempre" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdProductoParametro" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoParametro" nillable="true" type="tns:clsBeP_parametro" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_parametros" nillable="true" type="tns:clsBeProducto_parametros" />
  <xs:complexType name="clsBeP_parametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdParametro" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Valor_logico" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor_numerico" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_texto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeP_parametro" nillable="true" type="tns:clsBeP_parametro" />
  <xs:complexType name="ArrayOfclsBeProducto_presentacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto_presentacion" nillable="true" type="tns:clsBeProducto_presentacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto_presentacion" nillable="true" type="tns:ArrayOfclsBeProducto_presentacion" />
  <xs:complexType name="clsBeProducto_tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeProducto_tipo" nillable="true" type="tns:clsBeProducto_tipo" />
  <xs:complexType name="clsBeUnidad_medida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietario" nillable="true" type="tns:clsBePropietarios" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeUnidad_medida" nillable="true" type="tns:clsBeUnidad_medida" />
  <xs:complexType name="ArrayOfclsBeTrans_oc_imagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeTrans_oc_imagen" nillable="true" type="tns:clsBeTrans_oc_imagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeTrans_oc_imagen" nillable="true" type="tns:ArrayOfclsBeTrans_oc_imagen" />
  <xs:complexType name="clsBeTrans_oc_imagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOrdenCompraEnc" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenCompraImg" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeTrans_oc_imagen" nillable="true" type="tns:clsBeTrans_oc_imagen" />
  <xs:complexType name="ArrayOfclsBeProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBeProducto" nillable="true" type="tns:clsBeProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBeProducto" nillable="true" type="tns:ArrayOfclsBeProducto" />
</xs:schema>