SW/Service References/WCFOrdenCompra/ServiceOrdenCompra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4180/Orden_Compra/ServiceOrdenCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ActualizaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjE" nillable="true" type="q1:clsBeTrans_oc_enc" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjTD" nillable="true" type="q2:ArrayOfclsBeTrans_oc_det" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjP" nillable="true" type="q3:clsBeTrans_oc_pol" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjI" nillable="true" type="q4:ArrayOfclsBeTrans_oc_imagen" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjP" nillable="true" type="q5:ArrayOfclsBeProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaDatosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSingleResult" nillable="true" type="q6:clsBeTrans_oc_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByImpresion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByImpresionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByImpresionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdenCompraByPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietarioBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdenCompraByPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetOrdenCompraByPropietarioResult" nillable="true" type="q7:clsBeTrans_oc_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdenCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdenCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetOrdenCompraResult" nillable="true" type="q8:clsBeTrans_oc_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="pFechaDel" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pFechaAl" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietarioBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDetalleResult" nillable="true" type="q9:ArrayOfclsBeTrans_oc_det" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpresionByOC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpresionByOCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImpresionByOCResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdBobdega" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodigosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetPolizaResult" nillable="true" type="q10:clsBeTrans_oc_pol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetImagenesResult" nillable="true" type="q11:ArrayOfclsBeTrans_oc_imagen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageByIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdOrdenCompraImg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageByIndexResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdOrdenCompraEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pIdOrdenCompraDet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>