TestMI3/Connected Services/srvPropietario/ServicePropietario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ObjP" nillable="true" type="q1:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ObjP" nillable="true" type="q2:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ObjP" nillable="true" type="q3:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ObjP" nillable="true" type="q4:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableResult" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="ObjP" nillable="true" type="q5:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Filtro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_FiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_FiltroResult" nillable="true" type="q6:ArrayOfclsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_IdPropietarioResult" nillable="true" type="q7:clsBePropietarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAXIdPropietario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MAXIdPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAXIdPropietarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>