TestMI3/Connected Services/srvPropietario/ServicePropietario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePropietario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePropietario_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Disable_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Disable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Get_All_Filtro_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_Filtro" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Get_All_Filtro_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_FiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Get_Single_By_IdPropietario_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdPropietario" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Get_Single_By_IdPropietario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdPropietarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Exist_InputMessage">
    <wsdl:part name="parameters" element="tns:Exist" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_Exist_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_MAXIdPropietario_InputMessage">
    <wsdl:part name="parameters" element="tns:MAXIdPropietario" />
  </wsdl:message>
  <wsdl:message name="IServicePropietario_MAXIdPropietario_OutputMessage">
    <wsdl:part name="parameters" element="tns:MAXIdPropietarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePropietario">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Insert" message="tns:IServicePropietario_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/InsertResponse" message="tns:IServicePropietario_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Update" message="tns:IServicePropietario_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/UpdateResponse" message="tns:IServicePropietario_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Disable" message="tns:IServicePropietario_Disable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/DisableResponse" message="tns:IServicePropietario_Disable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_Filtro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Get_All_Filtro" message="tns:IServicePropietario_Get_All_Filtro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/Get_All_FiltroResponse" message="tns:IServicePropietario_Get_All_Filtro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdPropietario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Get_Single_By_IdPropietario" message="tns:IServicePropietario_Get_Single_By_IdPropietario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/Get_Single_By_IdPropietarioResponse" message="tns:IServicePropietario_Get_Single_By_IdPropietario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exist">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/Exist" message="tns:IServicePropietario_Exist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/ExistResponse" message="tns:IServicePropietario_Exist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MAXIdPropietario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePropietario/MAXIdPropietario" message="tns:IServicePropietario_MAXIdPropietario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePropietario/MAXIdPropietarioResponse" message="tns:IServicePropietario_MAXIdPropietario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePropietario" type="tns:IServicePropietario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_Filtro">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Get_All_Filtro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdPropietario">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Get_Single_By_IdPropietario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/Exist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MAXIdPropietario">
      <soap:operation soapAction="http://tempuri.org/IServicePropietario/MAXIdPropietario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePropietario">
    <wsdl:port name="BasicHttpBinding_IServicePropietario" binding="tns:BasicHttpBinding_IServicePropietario">
      <soap:address location="http://192.168.0.20/MI3/Propietario/ServicePropietario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>