TestMI3/Connected Services/srvPropietario/ServicePropietario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TOMWMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TOMWMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsBePropietarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualiza_costo_oc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:clsBeEmpresa" />
      <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPropietario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoActualizacionCosto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_comercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sistema" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBePropietarios" nillable="true" type="tns:clsBePropietarios" />
  <xs:complexType name="clsBeEmpresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsBeEmpresaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="Anulaciones_por_supervisor" type="xs:boolean" />
          <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClienteRapido" type="xs:boolean" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Control_presentaciones" type="xs:boolean" />
          <xs:element minOccurs="0" name="Corr_cod_barra" type="xs:int" />
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duracionclave" type="xs:int" />
          <xs:element minOccurs="0" name="Duracionclavetemporal" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fec_agr" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Fec_mod" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Hora_Corte_Jornada_Sistema" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdMotivoAjusteInventario" type="xs:int" />
          <xs:element minOccurs="0" name="Intento" type="xs:int" />
          <xs:element minOccurs="0" name="Operador_logistico" type="xs:boolean" />
          <xs:element minOccurs="0" name="Path_printer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Puerto_escaner" type="xs:int" />
          <xs:element minOccurs="0" name="Razon_social" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Representante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User_agr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User_mod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo_automatico" type="xs:boolean" />
          <xs:element minOccurs="0" name="politica_contraseñas" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsBeEmpresa" nillable="true" type="tns:clsBeEmpresa" />
  <xs:complexType name="clsBeEmpresaBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBeEmpresaBase" nillable="true" type="tns:clsBeEmpresaBase" />
  <xs:complexType name="ArrayOfclsBePropietarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsBePropietarios" nillable="true" type="tns:clsBePropietarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsBePropietarios" nillable="true" type="tns:ArrayOfclsBePropietarios" />
</xs:schema>