TestMI3/Connected Services/srvUnidadMedida/ServiceUnidadMedida1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.125.28/MI3/Unidad_Medida/ServiceUnidadMedida.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="ObjUM" nillable="true" type="q1:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="ObjUM" nillable="true" type="q2:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Multiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="pListObjUM" nillable="true" type="q3:ArrayOfclsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MultipleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="ObjUM" nillable="true" type="q4:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="ObjUM" nillable="true" type="q5:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableResult" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="ObjUM" nillable="true" type="q6:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_By_IdPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_By_IdPropietarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_Filtro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_FiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_All_FiltroResult" nillable="true" type="q7:ArrayOfclsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_Nombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreUM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_NombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_Single_By_NombreResult" nillable="true" type="q8:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdUnidadMedida_And_IdPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdUnidadMedida" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPropietario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdUnidadMedida_And_IdPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_Single_By_IdUnidadMedida_And_IdPropietarioResult" nillable="true" type="q9:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdUnidadMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Existe_Producto_Asociado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdUnidadMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Existe_Producto_AsociadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Existe_Producto_AsociadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdUnidadMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_Single_By_IdUnidadMedidaResult" nillable="true" type="q10:clsBeUnidad_medida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAXIdUnidadMedida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MAXIdUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAXIdUnidadMedidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>