TestMI3/Connected Services/srvPedidoCompra/PedidoCompra32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.98/MI3/Transacciones/PedidoCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q1:clsBeI_nav_ped_compra_enc" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q2:clsBeI_nav_ped_compra_enc" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q3:clsBeI_nav_ped_compra_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q4:clsBeI_nav_ped_compra_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEnc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_NoEnc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEnc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_NoEncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_NoEncResult" nillable="true" type="q5:clsBeI_nav_ped_compra_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Multiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="lPedidosCompra" nillable="true" type="q6:ArrayOfclsBeI_nav_ped_compra_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_MultipleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_Referencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pReferencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEnviado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_ReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Estado_Enviado_A_ERP_By_ReferenciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Lote_Documento_Ingreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNoDocumentoIngreso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNoLinea" type="xs:int" />
        <xs:element minOccurs="0" name="pCodigoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCantidad" type="xs:double" />
        <xs:element minOccurs="0" name="pFechaVence" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLicencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUbicacionNAV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Lote_Documento_IngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Registrar_Lote_Documento_IngresoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Documento_Ingreso_By_Referencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pReferencia" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="pEstado" type="q7:EstadoOC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Documento_Ingreso_By_ReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Estado_Documento_Ingreso_By_ReferenciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>