TestMI3/Connected Services/srvProductoBodega/ServiceProductoBodega.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceProductoBodega" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProductoBodega_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Get_Single_By_IdProductoBodega_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdProductoBodega" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Get_Single_By_IdProductoBodega_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Single_By_IdProductoBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Get_All_By_IdProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_By_IdProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Get_All_By_IdProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_All_By_IdProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_MaxID_InputMessage">
    <wsdl:part name="parameters" element="tns:MaxID" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_MaxID_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaxIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Exist_By_IdProducto_And_IdBodega_InputMessage">
    <wsdl:part name="parameters" element="tns:Exist_By_IdProducto_And_IdBodega" />
  </wsdl:message>
  <wsdl:message name="IServiceProductoBodega_Exist_By_IdProducto_And_IdBodega_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exist_By_IdProducto_And_IdBodegaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProductoBodega">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Insert" message="tns:IServiceProductoBodega_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/InsertResponse" message="tns:IServiceProductoBodega_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Update" message="tns:IServiceProductoBodega_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/UpdateResponse" message="tns:IServiceProductoBodega_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Delete" message="tns:IServiceProductoBodega_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/DeleteResponse" message="tns:IServiceProductoBodega_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdProductoBodega">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Get_Single_By_IdProductoBodega" message="tns:IServiceProductoBodega_Get_Single_By_IdProductoBodega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/Get_Single_By_IdProductoBodegaResponse" message="tns:IServiceProductoBodega_Get_Single_By_IdProductoBodega_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_All_By_IdProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Get_All_By_IdProducto" message="tns:IServiceProductoBodega_Get_All_By_IdProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/Get_All_By_IdProductoResponse" message="tns:IServiceProductoBodega_Get_All_By_IdProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaxID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/MaxID" message="tns:IServiceProductoBodega_MaxID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/MaxIDResponse" message="tns:IServiceProductoBodega_MaxID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exist_By_IdProducto_And_IdBodega">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProductoBodega/Exist_By_IdProducto_And_IdBodega" message="tns:IServiceProductoBodega_Exist_By_IdProducto_And_IdBodega_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProductoBodega/Exist_By_IdProducto_And_IdBodegaResponse" message="tns:IServiceProductoBodega_Exist_By_IdProducto_And_IdBodega_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProductoBodega" type="tns:IServiceProductoBodega">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Single_By_IdProductoBodega">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Get_Single_By_IdProductoBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_All_By_IdProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Get_All_By_IdProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaxID">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/MaxID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exist_By_IdProducto_And_IdBodega">
      <soap:operation soapAction="http://tempuri.org/IServiceProductoBodega/Exist_By_IdProducto_And_IdBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProductoBodega">
    <wsdl:port name="BasicHttpBinding_IServiceProductoBodega" binding="tns:BasicHttpBinding_IServiceProductoBodega">
      <soap:address location="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>