TestMI3/Connected Services/srvProductoBodega/ServiceProductoBodega2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.126.79/MI3/Producto_Bodega/ServiceProductoBodega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q1:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q2:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q3:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q4:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q5:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="oBeProducto_bodega" nillable="true" type="q6:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdProductoBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProductoBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdProductoBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_IdProductoBodegaResult" nillable="true" type="q7:clsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_By_IdProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_By_IdProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_All_By_IdProductoResult" nillable="true" type="q8:ArrayOfclsBeProducto_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exist_By_IdProducto_And_IdBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="pIdBodega" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exist_By_IdProducto_And_IdBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Exist_By_IdProducto_And_IdBodegaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>