DynamicsNavInterface/Web References/WSNavCantidadRecibirPedidoCompra/CantidadRecibir_PedidoCompra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/CantidadRecibir_PedidoCompra" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/CantidadRecibir_PedidoCompra" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/CantidadRecibir_PedidoCompra" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="LineaPedidoCompraCantRec">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="noPedidoCompra" type="string" />
            <element minOccurs="1" maxOccurs="1" name="noLineaCompra" type="int" />
            <element minOccurs="1" maxOccurs="1" name="codProducto" type="string" />
            <element minOccurs="1" maxOccurs="1" name="codVariante" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cantidad" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="LineaPedidoCompraCantRec_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="LineaPedidoCompraCantRec">
    <part name="parameters" element="tns:LineaPedidoCompraCantRec" />
  </message>
  <message name="LineaPedidoCompraCantRec_Result">
    <part name="parameters" element="tns:LineaPedidoCompraCantRec_Result" />
  </message>
  <portType name="CantidadRecibir_PedidoCompra_Port">
    <operation name="LineaPedidoCompraCantRec">
      <input name="LineaPedidoCompraCantRec" message="tns:LineaPedidoCompraCantRec" />
      <output name="LineaPedidoCompraCantRec_Result" message="tns:LineaPedidoCompraCantRec_Result" />
    </operation>
  </portType>
  <binding name="CantidadRecibir_PedidoCompra_Binding" type="tns:CantidadRecibir_PedidoCompra_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="LineaPedidoCompraCantRec">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/CantidadRecibir_PedidoCompra:LineaPedidoCompraCantRec" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LineaPedidoCompraCantRec">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LineaPedidoCompraCantRec_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="CantidadRecibir_PedidoCompra">
    <port name="CantidadRecibir_PedidoCompra_Port" binding="tns:CantidadRecibir_PedidoCompra_Binding">
      <address location="http://186.151.196.178:7047/DynamicsNAV80/WS/PRALCASA/Codeunit/CantidadRecibir_PedidoCompra" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>