TestMI3/Connected Services/srvPedidoCliente/PedidoCliente32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.101.131/MI3/Transacciones/PedidoCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedClienteEnc" nillable="true" type="q1:clsBeI_nav_ped_traslado_enc" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedClienteEnc" nillable="true" type="q2:clsBeI_nav_ped_traslado_enc" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedClienteEnc" nillable="true" type="q3:clsBeI_nav_ped_traslado_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedClienteEnc" nillable="true" type="q4:clsBeI_nav_ped_traslado_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEnc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_NoEnc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoEnc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_NoEncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="Get_Single_By_NoEncResult" nillable="true" type="q5:clsBeI_nav_ped_traslado_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Multiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="lPedidosCompra" nillable="true" type="q6:ArrayOfclsBeI_nav_ped_traslado_enc" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_MultipleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_Referencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pReferencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEnviado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_ReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Estado_Enviado_A_ERP_By_ReferenciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Receipt_Document_Reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q7:clsBeI_nav_ped_traslado_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Receipt_Document_ReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_Receipt_Document_ReferenceResult" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TOMWMS" minOccurs="0" name="BeINavPedCompraEnc" nillable="true" type="q8:clsBeI_nav_ped_traslado_enc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Referencia_By_IdPedidoEnc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pReferencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIdPedidoEnc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Referencia_By_IdPedidoEncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Referencia_By_IdPedidoEncResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_IdPedidoEnc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPedidoEnc" type="xs:int" />
        <xs:element minOccurs="0" name="pEnviado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Estado_Enviado_A_ERP_By_IdPedidoEncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Estado_Enviado_A_ERP_By_IdPedidoEncResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>