SW/Service References/WCFProductoPresentacion/ServiceProductoPresentacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4180/Producto_Presentacion/ServiceProductoPresentacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjPP" nillable="true" type="q1:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjPP" nillable="true" type="q2:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pListObjPP" nillable="true" type="q3:ArrayOfclsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTransaccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjPP" nillable="true" type="q4:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjPP" nillable="true" type="q5:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObjPP" nillable="true" type="q6:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="pObjP" nillable="true" type="q7:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCodigoBarra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigoBarra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCodigoBarraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteCodigoBarraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="pFiltro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllFiltroResult" nillable="true" type="q8:ArrayOfclsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="pActivo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllByProductoResult" nillable="true" type="q9:ArrayOfclsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSingleResult" nillable="true" type="q10:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetFactorResult" nillable="true" type="q11:clsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetByProductoResult" nillable="true" type="q12:ArrayOfclsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPresentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pInsert" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="oBeProducto_presentacion" nillable="true" type="q13:clsBeProducto_presentacion" />
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="pIdProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="pCodigoBarraAnterior" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPresentacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaPresentacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPesoByIdPresentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPesoByIdPresentacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPesoByIdPresentacionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresentacionesStockByProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPresentacionesStockByProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllPresentacionesStockByProductoResult" nillable="true" type="q14:ArrayOfclsBeProducto_presentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePeso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdPresentacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistePesoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>