TestMI3/Connected Services/srvProveedorBodega/ServiceProveedorBodega32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.13/MI3/Proveedor_Bodega/ServiceProveedorBodega.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMIMS" />
  <xs:element name="ActualizaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="pObjMD" nillable="true" type="q1:clsBeProveedor" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="pListObjMDB" nillable="true" type="q2:ArrayOfclsBeProveedor_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizaDatosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_By_IdProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_All_By_IdProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_All_By_IdProveedorResult" nillable="true" type="q3:ArrayOfclsBeProveedor_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdProveedorBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Single_By_IdProveedorBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="Get_Single_By_IdProveedorBodegaResult" nillable="true" type="q4:clsBeProveedor_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="BeProveedorBodega" nillable="true" type="q5:clsBeProveedor_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TOMIMS" minOccurs="0" name="BeProveedorBodega" nillable="true" type="q6:clsBeProveedor_bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdProveedorBodega">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxIdProveedorBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxIdProveedorBodegaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>