TestMI3/Connected Services/srvReportes/srvReportes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvReportes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.13/MI3/Reportes/srvReportes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.13/MI3/Reportes/srvReportes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.13/MI3/Reportes/srvReportes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TOMWMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvReportes_Get_Movimientos_Kardex_By_IdEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Movimientos_Kardex_By_IdEmpresa" />
  </wsdl:message>
  <wsdl:message name="IsrvReportes_Get_Movimientos_Kardex_By_IdEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Movimientos_Kardex_By_IdEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvReportes_Get_Stock_By_IdEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Stock_By_IdEmpresa" />
  </wsdl:message>
  <wsdl:message name="IsrvReportes_Get_Stock_By_IdEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Stock_By_IdEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvReportes">
    <wsdl:operation name="Get_Movimientos_Kardex_By_IdEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReportes/Get_Movimientos_Kardex_By_IdEmpresa" message="tns:IsrvReportes_Get_Movimientos_Kardex_By_IdEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReportes/Get_Movimientos_Kardex_By_IdEmpresaResponse" message="tns:IsrvReportes_Get_Movimientos_Kardex_By_IdEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Stock_By_IdEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReportes/Get_Stock_By_IdEmpresa" message="tns:IsrvReportes_Get_Stock_By_IdEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReportes/Get_Stock_By_IdEmpresaResponse" message="tns:IsrvReportes_Get_Stock_By_IdEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvReportes" type="tns:IsrvReportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Movimientos_Kardex_By_IdEmpresa">
      <soap:operation soapAction="http://tempuri.org/IsrvReportes/Get_Movimientos_Kardex_By_IdEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Stock_By_IdEmpresa">
      <soap:operation soapAction="http://tempuri.org/IsrvReportes/Get_Stock_By_IdEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvReportes">
    <wsdl:port name="BasicHttpBinding_IsrvReportes" binding="tns:BasicHttpBinding_IsrvReportes">
      <soap:address location="http://192.168.0.13/MI3/Reportes/srvReportes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>